version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ../database/index_data.duckdb:/app/database/index_data.duckdb
    depends_on:
      - redis